<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">

<head>
  <title>Blank</title>
</head>

<div layout:fragment="content">
  <!-- 페이지 콘텐츠 -->
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>

  </div>
  <!-- /.container-fluid -->
</div>

<th:block layout:fragment="scripts">

</th:block>

</html>
